{% extends 'base.html.twig' %}

{% block title %}My Published Games!{% endblock %}

{% block body %}

<div class="bg-dark-medium-purple h-full min-h-screen p-20">

    {% for message in app.flashes('error') %}
        <div class="flash-error text-white bg-red-600 p-2">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="flash-success text-white bg-green-600 p-2">
            {{ message }}
        </div>
    {% endfor %}

    {% if game.PromotionPrice is not null %}
    {# show current promotion infos #}
    <div class="border-gradient border-glow bg-medium-purple text-white p-6 text-xl rounded-md">
        <h1 class="text-4xl">Current promotion</h1>
        <br>
        <p class="text-xl">Promotion: {{ game.promotion }}%</p>
        <p class="text-xl">Start: {{ game.promotionStart|date('d/m/Y') }}</p>
        <p class="text-xl">End: {{ game.promotionEnd|date('d/m/Y') }}</p>
        <br>
        <a href="{{ path('app_published_games_promotion_delete', {'id': game.id}) }}" class="bg-red-600 text-white p-2 rounded-md">Delete</a>
    </div>
    {% endif %}
    <div class="border-gradient border-glow bg-medium-purple text-white p-6 text-xl rounded-md">
        {{ form_start(form) }}
        {% if game.promotion == null %}
        <h1 class="text-4xl">Add a new promotion</h1>
        {% else %}
        <h1 class="text-4xl">Edit promotion</h1>
        {% endif %}
        <br>
        {{ form_label(form.promotion) }}
        <br>
        {{ form_widget(form.promotion, {'attr': {'class': 'form-control w-full py-1 rounded-lg px-3 focus:outline-none focus:border-electric-purple hover:shadow bg-dark-purple'}})}}
        {{ form_label(form.promotionStart) }}
        <br>
        {{ form_widget(form.promotionStart, {'attr': {'class': 'form-control w-full py-1 rounded-lg px-3 focus:outline-none focus:border-electric-purple hover:shadow bg-dark-purple'}})}}
        {{ form_label(form.promotionEnd) }}
        <br>
        {{ form_widget(form.promotionEnd, {'attr': {'class': 'form-control w-full py-1 rounded-lg px-3 focus:outline-none focus:border-electric-purple hover:shadow bg-dark-purple'}})}}
        <br>
        <br>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}