{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}

	<div class="bg-dark-medium-purple h-screen py-20">
		<div class="text-white text-3xl flex justify-between mx-32 bg-dark-purple p-5">
			<h5>Cart</h5>
			<a href="{{path('app_cart_clear')}}" class="inline-block rounded-full bg-electric-purple px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#C47BE6] transition duration-150 ease-in-out hover:bg-danger-600 hover:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] focus:outline-none focus:ring-0 active:bg-electric-purple active:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)]">
				<i class="fa-solid fa-trash">
					Clear</i>
			</a>
		</div>
		{% if cart|length > 0 %}
			<table class="block border text-center text-sm font-light dark:border-neutral-500 mx-32 text-white">
				<tbody>
					{% for games in cart %}
						{% for game  in games %}

							<tr class="border-b dark:border-neutral-500">
								<td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500 w-screen">
									<img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="{{ game.gameEntity.picture }}/head.png" alt="">
									<div class="flex flex-col justify-between p-4 leading-normal">
										<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{game.gameEntity.name}}</h5>
										<div class="flex flex-row">
											<span class="text-3xl font-bold text-gray-900 dark:text-white">{{ game.gameEntity.price }}$/unit</span>
										</div>
										<div class="flex flex-row">
											<span class="text-3xl font-bold text-gray-900 dark:text-white">Total :
												{{ game.quantity * game.gameEntity.price }}$</span>
										</div>
										<div class="flex flex-row">
											<a href="{{path('app_cart_decrease', {'id':game.gameEntity.id})}}" class="flex-col inline-block rounded-full bg-electric-purple px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#C47BE6] transition duration-150 ease-in-out hover:bg-danger-600 hover:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] focus:outline-none focus:ring-0 active:bg-electric-purple active:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)]">
												<i class="fa-solid fa-minus"></i>
											</a>
											<span class="text-white">{{game.quantity}}</span>
											<a href="{{path('app_cart_add', {'id':game.gameEntity.id})}}" class="flex-col inline-block rounded-full bg-electric-purple px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#C47BE6] transition duration-150 ease-in-out hover:bg-danger-600 hover:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] focus:outline-none focus:ring-0 active:bg-electric-purple active:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)]">
												<i class="fa-solid fa-plus"></i>
											</a>
											<a href="{{path('app_cart_remove', {'id':game.gameEntity.id})}}" class="inline-block rounded-full bg-electric-purple px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#C47BE6] transition duration-150 ease-in-out hover:bg-danger-600 hover:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] focus:outline-none focus:ring-0 active:bg-electric-purple active:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)]">
												<i class="fa-solid fa-trash"></i>
											</a>
										</div>
									</div>
								</td>
							</tr>


							<div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
								<a href="#" class=""></a>
							</div>

						{% endfor %}
					{% endfor %}
				</tbody>
			</table>
			<div class="text-white flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
				<h5>Checkout</h5>
				<p>Total :
					{{ cart.total }}</p>
				<a href="{{path('app_cart')}}" class="inline-block rounded-full bg-electric-purple px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#C47BE6] transition duration-150 ease-in-out hover:bg-danger-600 hover:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] focus:outline-none focus:ring-0 active:bg-electric-purple active:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)]">
					Checkout</a>
			</div>
		{% else %}

			<table class="block text-white mx-32 table-auto border-white border-separate border">
				<tbody>
					<tr class="border border-separate border-white">
						<td>
							<a href="{{path('app_all_games')}}">There are no products in your cart, add some !</a>
						</td>
					</tr>
				</tbody>
			</table>

		{% endif %}
	</div>
{% endblock %}
