{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<div class="flex flex-col items-center justify-center h-screen bg-dark-medium-purple">
		<div class="border-gradient border-glow bg-medium-purple text-white p-6 text-xl rounded-md">

			{{ form_start(form) }}

			{% for error in app.flashes('error') %}
				{{ error }}
			{% endfor %}
			<h1 class="h3 mb-3 font-weight-normal text-4xl">Update profile</h1>
			<br>

			<p>SignUp date :
				{{app.user.signupDate|date('d/m/Y')}}</p>
            <br>
			<label>Email</label>
			{{ form_widget(form.email,  {'attr': {'class': 'form-control w-full py-1 rounded-lg px-3 focus:outline-none focus:border-electric-purple hover:shadow bg-dark-purple'}}) }}
			<br>
			<label>UserName</label>
			{{ form_widget(form.username,  {'attr': {'class': 'form-control w-full py-1 rounded-lg px-3 focus:outline-none focus:border-electric-purple hover:shadow bg-dark-purple'}}) }}
			<br>
			<label>FirstName</label>
			{{ form_widget(form.firstname,  {'attr': {'class': 'form-control w-full py-1 rounded-lg px-3 focus:outline-none focus:border-electric-purple hover:shadow bg-dark-purple'}}) }}
			<br>
			<label>LastName</label>
			{{ form_widget(form.lastname,  {'attr': {'class': 'form-control w-full py-1 rounded-lg px-3 focus:outline-none focus:border-electric-purple hover:shadow bg-dark-purple'}}) }}
			<br>
			<label>Address</label>
			{{ form_widget(form.address,  {'attr': {'class': 'form-control w-full py-1 rounded-lg px-3 focus:outline-none focus:border-electric-purple hover:shadow bg-dark-purple'}}) }}
			<br>
			<label>Current Password</label>
			{{ form_widget(form.currentPassword,  {'attr': {'class': 'form-control w-full py-1 rounded-lg px-3 focus:outline-none focus:border-electric-purple hover:shadow bg-dark-purple'}}) }}
			<br>
			<label>New Password</label>
			{{ form_widget(form.newPassword,  {'attr': {'class': 'form-control w-full py-1 rounded-lg px-3 focus:outline-none focus:border-electric-purple hover:shadow bg-dark-purple'}}) }}
			<br>
            <label>Confirm Password</label>
			{{ form_widget(form.confirmNewPassword,  {'attr': {'class': 'form-control w-full py-1 rounded-lg px-3 focus:outline-none focus:border-electric-purple hover:shadow bg-dark-purple'}}) }}
			<br>
            <br>

			{{ form_end(form) }}

		</div>
	</div>
{% endblock %}
