{% extends 'base.html.twig' %}

{% block title %}All Games{% endblock %}

{% block body %}

<div class="container flex flex-col bg-dark-medium-purple h-full min-h-screen min-w-screen w-full p-20">
    <h1 class="self-center m-5 text-3xl font-extrabold text-white">{{ title }}</h1>
 

        {{ form_start(form, {'attr': {'class':'flex justify-start'}}) }}

            <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="mx-2 mb-10 inline-flex items-center rounded-full bg-electric-purple px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#C47BE6] transition duration-150 ease-in-out hover:bg-danger-600 hover:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] focus:outline-none focus:ring-0 active:bg-electric-purple active:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] self-center p-2 mt-4" type="button">Filters <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
            <!-- Dropdown menu -->
            <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-dark-medium-purple">
                <div class="p-3">
                    <div class="relative">
                        <button type="submit" class="btn p-2.5 ml-2 text-sm font-medium text-white bg-electric-purple rounded-full border border-electric-purple hover:bg-light-electric-purple focus:ring-4 focus:outline-none focus:ring-dark-medium-purple">Apply filters</button>
                    </div>
                </div>
                <ul class="h-48 py-2 text-sm text-gray-700 dark:text-gray-200 overflow-y-auto" aria-labelledby="dropdownDefaultButton">
                    <li>
                        <label for="price-range" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Max price</label>
                        
                        {{ form_widget(form.range, {'attr': {'class': 'w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700', 'oninput':"this.nextElementSibling.value = this.value + '$'"}}) }}
                        <output>100$</output>
                    </li>
                    
                </ul>
            </div>

            <button id="dropdownDefaultButton3" data-dropdown-toggle="dropdown3" class="mx-2 mb-10 inline-flex items-center rounded-full bg-electric-purple px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#C47BE6] transition duration-150 ease-in-out hover:bg-danger-600 hover:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] focus:outline-none focus:ring-0 active:bg-electric-purple active:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] self-center p-2 mt-4" type="button">Order by <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
            <!-- Dropdown menu -->
            <div id="dropdown3" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                
                <ul class="h-48 py-2 text-sm text-gray-700 dark:text-gray-200 overflow-y-auto" aria-labelledby="dropdownDefaultButton3">
                    <li>
                        <a href="{{ path('app_sorted_games', { 'sort': 'price', 'order': 'ASC' }) }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Price<i class="fa-solid fa-arrow-up ml-3" style="color: #ffffff;"></i></a>
                    </li>
                    <li>
                        <a href="{{ path('app_sorted_games', { 'sort': 'price', 'order': 'DESC' }) }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Price<i class="fa-solid fa-arrow-down ml-3" style="color: #ffffff;"></i></a>
                    </li>
                    <li>
                        <a href="{{ path('app_sorted_games', { 'sort': 'date', 'order': 'ASC' }) }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Date<i class="fa-solid fa-arrow-up ml-3" style="color: #ffffff;"></i></a>
                    </li>
                    <li>
                        <a href="{{ path('app_sorted_games', { 'sort': 'date', 'order': 'DESC' }) }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Date<i class="fa-solid fa-arrow-down ml-3" style="color: #ffffff;"></i></a>
                    </li>
                    <li>
                        <a href="{{ path('app_sorted_games', { 'sort': 'sells', 'order': 'ASC' }) }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sells<i class="fa-solid fa-arrow-up ml-3" style="color: #ffffff;"></i></a>
                    </li>
                    <li>
                        <a href="{{ path('app_sorted_games', { 'sort': 'sells', 'order': 'DESC' }) }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sells<i class="fa-solid fa-arrow-down ml-3" style="color: #ffffff;"></i></a>
                    </li>
                </ul>
            </div>

            <button id="dropdownCategoriesButton" data-dropdown-toggle="dropdownCategories" class="mx-2 mb-10 inline-flex items-center rounded-full bg-electric-purple px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#C47BE6] transition duration-150 ease-in-out hover:bg-danger-600 hover:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] focus:outline-none focus:ring-0 active:bg-electric-purple active:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] self-center p-2 mt-4" type="button">Categories <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
            <!-- Dropdown menu -->
            <div id="dropdownCategories" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-dark-medium-purple">
                <div class="p-3">
                    <label for="input-category-search" class="sr-only">Search</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                        </div>
                        <input type="text" id="input-category-search" oninput="filterCategories(this)" class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-full bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search category">
                    </div>
                </div>
                <ul id="categoriesDropdown" class="h-48 py-2 text-sm text-gray-700 dark:text-gray-200 overflow-y-auto" aria-labelledby="dropdownCategoriesButton">
                    {% for category in categories %}
                    <li class="categoriesDropdownElement">
                        <a href="{{ path('app_categories', {'id': category.id}) }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{ category.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            
            
            <div class="ml-5 mt-3 flex items-center mb-8">   
                <label for="simple-search" class="sr-only">Search</label>
                <div class="relative w-full">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                    </div>
                    {{ form_widget(form.input, {'attr': {'class': 'text-white pl-10 w-full py-1 rounded-full px-3 focus:outline-none focus:border-electric-purple hover:shadow bg-dark-purple', 'placeholder': 'Search'}}) }}
                </div>
                <button type="submit" class="btn p-2.5 ml-2 text-sm font-medium text-white bg-electric-purple rounded-full border border-electric-purple hover:bg-light-electric-purple focus:ring-4 focus:outline-none focus:ring-dark-medium-purple">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                    <span class="sr-only">Search</span>
                </button>
            </div>

        {{ form_end(form) }}

    

    <div class="grid lg:grid-cols-3 xl:grid-cols-4 gap-6 p-2 sm:grid-cols-1 sm:mx-auto">
        {% for game in games %}
            <div class="w-full max-w-sm bg-white border-gradient border-glow rounded-lg bg-medium-purple">
                <a href="{{ path('app_single_game', {'id': game.id}) }}">
                    <img class="p-8 rounded-t-lg" src="{{ game.picture }}/head.png" alt="product image" />
                </a>
                <div class="px-5 pb-5">
                    <a href="{{ path('app_single_game', {'id': game.id}) }}">
                        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{{ game.name }}</h5>
                    </a>
                    <div class="flex items-center mt-2.5 mb-5">
                        {% if avgRatings[game.id][1] != 0 %}
                            {% for i in range(0, starsNbr[game.id] -1) %}
                                <svg aria-hidden="true" class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>First star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            {% endfor %}
                            <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">{{ avgRatings[game.id][0] }}</span>
                        {% else %}
                            <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">No ratings yet</span>
                        {% endif %}
                    </div>
                    <div class="flex items-center justify-between">
                    {% if isPromoted[game.id] %}
                        <span class="text-3xl font-bold text-gray-900 dark:text-red-600 line-through">{{ game.price }}$</span>
                        <span class="text-3xl font-bold text-gray-900 dark:text-white">{{ game.PromotionPrice|number_format(2, '.', '') }}$</span>
                    {% else %}
                        <span class="text-3xl font-bold text-gray-900 dark:text-white">{{ game.price }}$</span>
                    {% endif %}
                        <a onclick="addToCartAjax({{game.id}})" id="btnAddCart{{game.id}}" class="inline-block rounded-full bg-electric-purple px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#C47BE6] transition duration-150 ease-in-out hover:bg-danger-600 hover:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] focus:outline-none focus:ring-0 active:bg-electric-purple active:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)]"><i class="fa-solid fa-cart-arrow-down" style="color: #ffffff;"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %}
        <button onclick="test()">test</button>
    </div>
    
</div>
{% endblock %}