{% extends 'base.html.twig' %}

{% block title %}{{game.name}}{% endblock %}

{% block body %}
<div class="min-h-screen h-full bg-dark-medium-purple">
    <div class="border-gradient border-glow bg-medium-purple text-white p-6 ml-10 mr-10 rounded-md">
        <div class="grid grid-cols-2">
            <div>
                <img src="{{ game.picture }}/head.png" alt="image du jeu" class="max-w-sm">
            </div>
            <div class="flex flex-col">
                <h1 class="text-3xl font-extrabold mb-10">{{ game.name }} </h1>
                <div class="flex items-center">
                    <div class="flex items-center mt-2.5 mb-5">
                        <div class="flex items-center">
                            <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Rating star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <p class="ml-2 text-sm font-bold text-gray-900 dark:text-white">{{avgReview[0]}}</p>
                            <span class="w-1 h-1 mx-1.5 bg-gray-500 rounded-full dark:bg-gray-400"></span>
                            <a href="#reviews" class="text-sm font-medium text-gray-900 underline hover:no-underline dark:text-white">{{avgReview[1]}} reviews</a>
                            <span class="w-1 h-1 mx-1.5 bg-gray-500 rounded-full dark:bg-gray-400"></span>
                            <p class="text-sm font-bold text-gray-900 dark:text-white">{{ game.sold }} sold</p>
                            
                        </div>
                    </div>
                </div>
                <div class="flex items-center">
                    <h3 class="text-lg">Description : </h3>
                    <p class="pl-5">{{ game.description }}</p>
                </div>
                <div class="flex items-center">
                    <h3 class="text-lg">Catégories : </h3>
                    {% for category in game.category %}
                        <a href="{{ path('app_categories', { 'id': category.id }) }}" class="ml-2 inline-block rounded-lg bg-electric-light-purple p-1 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#AE4CDC] transition duration-150 ease-in-out hover:bg-danger-600 hover:shadow-[0_8px_9px_-4px_rgba(174,76,220,0.3),0_4px_18px_0_rgba(174,76,220,0.2)] focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(174,76,220,0.3),0_4px_18px_0_rgba(174,76,220,0.2)] focus:outline-none focus:ring-0 active:bg-danger-700 active:shadow-[0_8px_9px_-4px_rgba(174,76,220,0.3),0_4px_18px_0_rgba(174,76,220,0.2)]">{{ category.name }}</a>
                    {% endfor %}
                </div>
                <div class="flex items-center">
                    <h3 class="text-lg">Développement : </h3>
                    {% for author in game.authors %}
                        <p class="pl-5">{{ author.username }}</p>
                    {% endfor %}
                </div>
                <div class="flex items-center">
                    <h3 class="text-lg">Prix : </h3>
                    <p class="pl-5">{{ game.price }} $</p>
                </div>
                <div>
                    <button class="inline-block rounded-full bg-electric-light-purple px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#AE4CDC] transition duration-150 ease-in-out hover:bg-danger-600 hover:shadow-[0_8px_9px_-4px_rgba(174,76,220,0.3),0_4px_18px_0_rgba(174,76,220,0.2)] focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(174,76,220,0.3),0_4px_18px_0_rgba(174,76,220,0.2)] focus:outline-none focus:ring-0 active:bg-danger-700 active:shadow-[0_8px_9px_-4px_rgba(174,76,220,0.3),0_4px_18px_0_rgba(174,76,220,0.2)] mt-5" type="submit">
                        <i class="fa-solid fa-cart-shopping"></i> Add to cart
                    </button>
                    <a href="{{ path('app_wish_list_add', { 'gameId': game.id }) }}" class="inline-block rounded-full bg-electric-light-purple px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#AE4CDC] transition duration-150 ease-in-out hover:bg-danger-600 hover:shadow-[0_8px_9px_-4px_rgba(174,76,220,0.3),0_4px_18px_0_rgba(174,76,220,0.2)] focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(174,76,220,0.3),0_4px_18px_0_rgba(174,76,220,0.2)] focus:outline-none focus:ring-0 active:bg-danger-700 active:shadow-[0_8px_9px_-4px_rgba(174,76,220,0.3),0_4px_18px_0_rgba(174,76,220,0.2)] mt-5">
                        <i class="fa-solid fa-list"></i> Add to my wishlist
                    </a>
                </div>

                <div>
            </div>



                {% if form is defined %}
                    <div class="border-gradient border-glow bg-medium-purple text-white p-6 text-xl rounded-md">
                        {% for error in app.flashes('error') %}
                            {{ error }}
                        {% endfor %}
                        {% for success in app.flashes('success') %}
                            {{ success }}
                        {% endfor %}
                        {{ form_start(form, {'attr': {'class':''}}) }}
                            {# title #}
                            <div class="form-group">
                                {{ form_label(form.title) }}
                                {{ form_widget(form.title,  {'attr': {'class': 'form-control w-full py-1 rounded-lg px-3 focus:outline-none focus:border-electric-purple hover:shadow bg-dark-purple'}}) }}
                            </div>
                            {# rate #}
                            <div class="form-group">
                                {{ form_label(form.rate) }}
                                {{ form_widget(form.rate,  {'attr': {'class': 'form-control w-full py-1 rounded-lg px-3 focus:outline-none focus:border-electric-purple hover:shadow bg-dark-purple'}}) }}
                            </div>
                            {# comment #}
                            <div class="form-group">
                                {{ form_label(form.comment) }}
                                {{ form_widget(form.comment,  {'attr': {'class': 'form-control w-full py-1 rounded-lg px-3 focus:outline-none focus:border-electric-purple hover:shadow bg-dark-purple'}}) }}
                            </div>
                            <button class="inline-block rounded-full bg-danger px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#AE4CDC] transition duration-150 ease-in-out hover:bg-danger-600 hover:shadow-[0_8px_9px_-4px_rgba(174,76,220,0.3),0_4px_18px_0_rgba(174,76,220,0.2)] focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(174,76,220,0.3),0_4px_18px_0_rgba(174,76,220,0.2)] focus:outline-none focus:ring-0 active:bg-danger-700 active:shadow-[0_8px_9px_-4px_rgba(174,76,220,0.3),0_4px_18px_0_rgba(174,76,220,0.2)]" type="submit">
                                Send review
                            </button>
                        {{ form_end(form) }}
                    </div>
                {% endif %}
                
            </div>
        </div>
    </div>

    {% if gamesRelated is defined and gamesRelated|length > 0 %}
    <div class="bg-electric-purple text-white p-6 ml-10 mr-10 rounded-md mt-3 flex flex-col">
        <h1 class="self-center text-xl mb-2">Related games</h1>
        <div class=" grid grid-cols-2 lg:grid-cols-3">
            {% for gameRelated in gamesRelated %}
            <div class="bg-white border-gradient border-glow rounded-lg bg-medium-purple flex">
                <a href="{{ path('app_single_game', {'id': gameRelated.id}) }}">
                    <img class="p-8 rounded-t-lg max-h-72 lg:min-h-full lg:min-w-full" src="{{ gameRelated.picture }}/head.png" alt="product image" />
                </a>
                <div class="px-5 pb-5 flex flex-col justify-around">
                    <a href="{{ path('app_single_game', {'id': gameRelated.id}) }}">
                        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{{ gameRelated.name }}</h5>
                    </a>
                    <div class="flex flex-col items-center justify-between">
                    {% if gameRelated.PromotionPrice is not null %}
                        <span class="text-xl font-bold text-gray-900 dark:text-red-600 line-through">{{ gameRelated.price }}$</span>
                        <span class="text-3xl font-bold text-gray-900 dark:text-white">{{ gameRelated.PromotionPrice|number_format(2, '.', '') }}$</span>
                    {% else %}
                        <span class="text-3xl font-bold text-gray-900 dark:text-white">{{ gameRelated.price }}$</span>
                    {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
    {% endif %}

    {% if reviews|length > 0 %}
                        {% for review in reviews %}
                            
                            <div id="reviews" class="border-gradient border-glow bg-medium-purple text-white p-6 ml-10 mr-10 rounded-md mt-10">
                                <div class="flex flex-col items-start">
                                    <p class="text-md font-medium text-gray-900 dark:text-white">{{ review.author.username }}</p>
                                    <div class="flex items-center mt-2.5 mb-5">
                                        <div class="flex items-center">
                                            {% for i in range(0, review.rate - 1)  %}
                                            <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Rating star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                                            {% endfor %}
                                            <span class="w-1 h-1 mx-1.5 bg-gray-500 rounded-full dark:bg-gray-400"></span>
                                            <p class="text-md text-gray-900 dark:text-white">{{ review.title }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex items-center text-sm">
                                    {{ review.comment }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

</div>
{% endblock %}
