{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}

	<div class="bg-dark-medium-purple h-full min-h-screen p-20">

		<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
			<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
				<caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-dark-purple">
					All Users
					<p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Here are all the users. You can create, see, edit or delete them !</p>
				</caption>
				<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-medium-purple dark:text-gray-400">
					<tr>
						<th scope="col" class="px-6 py-3">
							Id
						</th>
						<th scope="col" class="px-6 py-3">
							FirstName
						</th>
						<th scope="col" class="px-6 py-3">
							LastName
						</th>
						<th scope="col" class="px-6 py-3">
							Email
						</th>
						<th scope="col" class="px-6 py-3">
							Address
						</th>
						<th scope="col" class="px-6 py-3">
							Roles
						</th>
						<th scope="col" class="px-6 py-3">
							Password
						</th>
						<th scope="col" class="px-6 py-3">
							UserName
						</th>
						<th scope="col" class="px-6 py-3">
							Points
						</th>
						<th scope="col" class="px-6 py-3">
							Levels
						</th>
						<th scope="col" class="px-6 py-3">
							Actions
						</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr class="bg-white border-b dark:bg-dark-purple dark:border-medium-purple">
							<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
								{{ user.id }}
							</th>
							<td class="px-6 py-4">
								{{ user.firstName }}
							</td>
							<td class="px-6 py-4">
								{{ user.lastName }}
							</td>
							<td class="px-6 py-4">
								{{ user.email }}
							</td>
							<td class="px-6 py-4">
								{{ user.address }}
							</td>
							<td class="px-6 py-4">
								{{ user.roles ? user.roles|json_encode : '' }}
							</td>
							<td class="px-6 py-4">
								{{ user.password }}
							</td>
							<td class="px-6 py-4">
								{{ user.userName }}
							</td>
							<td class="px-6 py-4">
								{{ user.points }}
							</td>
							<td class="px-6 py-4">
								{{ user.levels }}
							</td>
							<td class="px-6 py-4">
								<a href="{{ path('app_user_crud_show', {'id': user.id}) }}" class="mb-2 inline-block rounded-full bg-electric-purple px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#C47BE6] transition duration-150 ease-in-out hover:bg-danger-600 hover:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] focus:outline-none focus:ring-0 active:bg-electric-purple active:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)]">show</a>
								<a href="{{ path('app_user_crud_edit', {'id': user.id}) }}" class="inline-block rounded-full bg-electric-purple px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#C47BE6] transition duration-150 ease-in-out hover:bg-danger-600 hover:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] focus:outline-none focus:ring-0 active:bg-electric-purple active:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)]">edit</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<br>
		<a href="{{ path('app_user_crud_new') }}" class="inline-block rounded-full bg-electric-purple px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#C47BE6] transition duration-150 ease-in-out hover:bg-danger-600 hover:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)] focus:outline-none focus:ring-0 active:bg-electric-purple active:shadow-[0_8px_9px_-4px_rgba(196,123,230,0.3),0_4px_18px_0_rgba(196,123,230,0.2)]">
			<i class="fa fa-plus"></i>
			Create new
		</a>
	</div>

{% endblock %}
