{% extends 'base.html.twig' %}

{% block title %}
	Chat with
	{{ friend.username }}
{% endblock %}

{% block body %}


	<div class="flex flex-col items-center justify-center h-screen bg-dark-medium-purple">
		<div class="border-gradient border-glow bg-medium-purple text-white p-6 text-xl rounded-md w-5/6">
			<h1 class="text-4xl text-bold">Chat with
				<span class="text-electric-purple">{{ friend.username }}</span>
			</h1>
			<br>
			<br>
			{% for message in messages %}
				<div class="w-full flex justify-between">
					<div class="block">
						{% if message.Sender.username == friend.username %}
							<span class="text-electric-purple">{{message.Sender.username}}:
							</span>
						{% else %}
							<span class="text-font-blue">{{message.Sender.username}}:
							</span>
						{% endif %}

						<span>
							{{message.text}}
						</span>
					</div>
					<span class="text-gray-400">{{ message.creationDate|date('H:i') }}</span>
				</div>
			{% endfor %}
            <br>
			<div class="">
				{{
                    form_start(
                        form,
                        {
                            action: path('app_chat_send_post',{id: friend.id}),
                            method: 'POST'
                        }
                    )
                }}
				{{ form_widget(form.message, {'attr': {'class': 'mb-4 form-control w-full py-1 rounded-lg px-3 focus:outline-none focus:border-electric-purple hover:shadow bg-dark-purple'}}) }}
				{% if form.vars.errors|length > 0 %}
					<div class="form-error">
						{{ form.vars.errors }}
					</div>
				{% endif %}
				{{ form_end(form) }}
			</div>
		</div>


	</div>


{% endblock %}
