{% extends 'base.html.twig' %}

{% block title %}Hello MyGamesController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">

		{% for message in app.flashes('success') %}
			<div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
				<span class="block sm:inline">{{ message }}</span>
                <a href="/user/my-games">
				<span class="absolute top-0 bottom-0 right-0 px-4 py-3">
					<svg class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20">
						<title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
				</span>
                </a>
			</div>
		{% endfor %}
		{# show all games #}
		<h1>Games</h1>
		{# check games lenght #}
		{% if games|length > 0 %}
			<table class="table">
				<thead>
					<tr>
						<th>Picture</th>
						<th>Name</th>
						<th>Categories</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
					{% for game in games %}
						<tr>
							<td><img src="{{ game.picture }}" alt="game picture" width="100px"></td>
							<td>{{ game.name }}</td>
							<td>
								{% for category in game.category %}
									{{ category.name }}
								{% endfor %}
							</td>
							<td>{{ game.price }}</td>
							<td>
								{# <a href="{{ path('game_show', {'id': game.id}) }}">show</a>
																                        <a href="{{ path('game_edit', {'id': game.id}) }}">edit</a> #}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<a href="">
				<p>No games found, buy some here !</p>
			</a>
		{% endif %}
	</div>
{% endblock %}
