{% extends 'base.html.twig' %}

{% block title %}Hello MyOrdersController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if ordersWithLines is empty %}
        <h1><a href="{{path('app_all_games')}}">You have no orders, buy some games here !</h1>
    {% else %}
    {% for orderWithLine in ordersWithLines %}
        <h1>Order {{ orderWithLine.order.id }}</h1>
        <p>Order status : {{ orderWithLine.order.status }}</p>
        <p>Games :</p>
        <ul>
            {% for line in orderWithLine.orderLines %}
                <li>{{line.game.name}} | Price/unit : {{line.price / line.quantity}} | Quantity : {{line.quantity}} | Price : {{line.price}}</li>
            {% endfor %}
        </ul>
        <p>Total price : {{ orderWithLine.order.total }}</p>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
